

<div style="margin-left: 10px; margin-right: 10px; margin-top: 55px;">
  <tabset #staticTabs>
    <tab customClass="tab-shng" heading="{{ 'LOGICS.USERLOGICS'|translate }}">
      <div style="margin-left: 10px; margin-right: 10px;">
        <p></p>
        <p>
          Logics works!
        </p>
      </div>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'LOGICS.SYSTEMLOGICS'|translate }}">
      <div style="margin-left: 10px; margin-right: 10px;">
      </div>
    </tab>

  </tabset>
</div>
